.container {
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: absolute;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.figure {
    width: 15.938rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    padding: 0.5rem;
}

.captionWrapper {
    width: 30%;
}

.figureCaption {
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
    color: #FFFFFF;
}

.icon {
    margin-top: 1rem;
    margin-left: 9.5rem;
}

.image {
    height: 10rem;
    width: 14rem;
    overflow: hidden;
    border-radius: 1rem;
}
